<!DOCTYPE html>
<html>
  <head>
    <title>APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
<ul class="flex">
  <li class="mr-6">
    <a  href="/signup">Signup</a>
  </li>
  <% if logged_in? %>
    <li class="mr-6">
      <%= button_to "Logout", logout_path, method: :delete %>
    </li>
  <% else %>
    <li class="mr-6">
      <a  href="/login">Login</a>
    </li>
  <% end %>
 
</ul>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
